@import "../../styles/variables";
@import "../../styles/base/mixins";

.footer {
  background-image: linear-gradient(to bottom, #337ab7 0%, #265a88 100%);
  color: white;
  padding: em(30, 15) 0;
  font-size: rem(15);

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &__link {
    letter-spacing: 0.2em;
    transition: color 0.5s ease 0s;
    margin-left: 10%;

    &:hover {
      color: rgba(116, 163, 224, 0.752);
    }
  }
}
